body{
    background-color: rgb(1, 1, 26);
    display: grid;
    grid-template-columns: 1250px;
    justify-content: space-evenly;
}

/*  top bar */
.nav_bar{
    background: linear-gradient(45deg,rgb(7, 7, 41)55%,rgb(11, 11, 60)5%,rgba(122, 201, 96, 0.69640));
    color: rgb(66, 82, 96);
    justify-content: space-between;
    display: flex;
    height:2em;
    padding: 1em;
    border: 2px groove rgba(255, 246, 229, 0.768) ;
    vertical-align: middle;
}

.nav_right,.nav_left{
    display: flex;
    flex-direction: row; 
    flex-wrap:wrap;
    height: max-content;
    vertical-align: middle;

}

select{
    width:15px;
    height:20px;
    background-color: rgb(50,49,50);
    color: aliceblue;
    border: 0px;
}
h3{
    padding-right:2em;
    padding-left:2em
}
.user{
    height: 35px;
    border-radius: 50%;
}
/* for main container */
.icon{
    height: 15px;
    width: 15px;
}
.main_container{
    margin-top: 2em;
    width: 100%;
    padding: 1em;
    display: flex;
   
}
.calculator,
.specifics,
.charging{
    border: 2px solid black;
    border-radius: 10%;
    background-color: #FAF9F6;
    margin-bottom:0.5em; 
    flex-direction: row; 
    flex-wrap:nowrap;
    width: 100%;
}